.Rhistory
.Rapp.history

.RData
.Ruserdata

.Rproj.user/
.Rproj/
.Rbuildignore

.Rout
.Rout.save
.Rout.fail
*.Rcheck/

packrat/
renv/library/
renv/staging/

*.o
*.so
*.dll

*.tmp
*.temp

*.knit.md
*.utf8.md
*.html
*.xml

*.aux
*.log
*.out
*.toc
*.bbl
*.blg

.ipynb_checkpoints/

.Rproj.user/
.vscode/
.idea/

pycache__/
*.py[cod]
*.swp
*.bak
*.sav
Thumbs.db
.DS_Store

*.env

*.gpx

*.rds
*.pdf
*.csv
*.docx
*.rtf

# Image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

*.xlsx