

.Rhistory
.Rapp.history

.RData
.Ruserdata

.Rproj.user/
.Rproj/
.Rbuildignore

.Rout
.Rout.save
.Rout.fail
*.Rcheck/

packrat/
renv/library/
renv/staging/

*.o
*.so
*.dll

*.tmp
*.temp

*.knit.md
*.utf8.md
*.html

*.aux
*.log
*.out
*.toc
*.bbl
*.blg

.ipynb_checkpoints/

.Rproj.user/
.vscode/
.idea/

pycache__/
*.py[cod]
*.swp
*.bak
*.sav
Thumbs.db
.DS_Store

*.env

*.pdf

*.docx

*. xlsx